In [1]:
import numpy as np
import pandas as pd 
import matplotlib as plt 
import seaborn as sns
from numba import jit 
import fancyimpute 
import matplotlib.pyplot as plt
%matplotlib inline

/home/sid/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [10]:
df=pd.read_csv("Train.csv")
df2=pd.read_csv("Test.csv")

In [11]:
df_full=pd.concat([df,df2],axis=0)

In [12]:
pd.unique(df_full['Item_Fat_Content'])

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [13]:
df_full['Item_Fat_Content']=df_full['Item_Fat_Content'].map({'Low Fat':0,'low fat':0,'LF':0,'Regular':1,'reg':1})

In [14]:
df_full.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type
0,0,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1
1,1,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2
2,0,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1
3,1,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,NaN,Grocery Store
4,0,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1

In [16]:
df_new=df_full.drop(['Item_Identifier','Item_Outlet_Sales'],axis=1)

In [18]:
df_new.to_csv('1.csv',index=False)